<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'css/contact.css' %}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/> -->
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Dehradun</div>
          <div class="text-two">Uttarakhand 07</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>

          <div class="text-two">+91 8755083819</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">Vikashgusain1999@gmail.com</div>

        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>I’m interested in freelance opportunities – especially ambitious or large projects. However, if you have other request or question, don’t hesitate to use the form.</p>
      <form action="test" method="post">
        {% csrf_token %}
        {{form}}
        <div class="input-box">
          <input type="text" name="subject" placeholder="Subject" required>
        </div>
        <div class="input-box">
          <input type="text" name="name" placeholder="Enter your name" required>
        </div>
        <div class="input-box">
          <input type="text" name="email"placeholder="Enter your email" required>
        </div>
        <div class="input-box message-box">
          <textarea name="message" placeholder="Enter your message" rows="8" cols="80"></textarea>

        </div>
        <div class="button">
          <input  type="submit" value="Send Now" >
        </div>
      </form>
    </div>
    </div>
  </div>
</body>
</html>
