<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personle Portfolio Website</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/my.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="hero">
        <nav>
            <img src="\static\image\logoo.gif" class="logo">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">BLOGS</a></li>
                <li><a href="#">PROJECTS</a></li>
                <li><a href="contact">CONTACT</a></li>
                <li><a href="#">HIRE ME</a></li>
            </ul>
        </nav>
        <div class="detel">
            <h1>I,M Vikash <span>GUSAIN</span></h1>
            <p>This is my official Portfolio website to showcase my
                all works related to <br> web development and ui design. </p>
            <a href="download">Downdload CV</a>
        </div>
        <div class="images">
            <img src="\static\image\shape.png" class="shape">
            <img src="\static\image\me.png" class="girl" style=" height: 111% ;">
        </div>

        <div class="social">
           <a href="https://www.hackerrank.com/vikashgusain1999"><i class="fab fa-hackerrank"></i></a>
           <a href="https://github.com/vikash336"><i class="fab fa-github"></i></a>
           <a href="https://www.linkedin.com/in/vikashgusain007/"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</body>
</html>
